#tabs {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#sections {
	height: 400px;
	width: 80%;
	margin: 0px auto;
}

.msgbox {
	height: 310px;
	width: 600px;
	/*display:block;*/
	float: left;
	border: dotted #009999;
}

/* ? */
.msgbox-header {
	margin: 0.3em;
	padding-bottom: 4px;
	padding-left: 0.2em;
}

.msgbox-header .ui-icon {
	float: right;
}

.msgbox-content {
	padding: 0.4em;
}

.msgbox-message {
	display: block;
	width: 100%;
	height: 120px;
	overflow: auto;
}

.msgbox-form {
	margin: 0px auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.msg2send {
	font-size: 11px;
}

.btnSend {
	text-align: center;
}

.message-line {
	font-style: italic;
	font-size: 11px;
	color: #009933;
}

.user {
	color: #0033ff
}

.date {
	color: #ff3333
}

.chat-message {
	color: #009999
}

#nickname {
	font-size: medium;
	color: #999999;
}